In [1]:
import pandas as pd
import ast
import json

In [2]:
movies = pd.read_csv('./movies_dataset.csv')
movies_credits = pd.read_csv('./credits.csv')

In [3]:
#revisamos el contenido de cada dataset: 
movies.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,production_companies_names,production_countries_names,release_year,return,collection_id.1,collection_name.1,collection_poster_path.1,collection_id.2,collection_name.2,collection_poster_path.2
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,...,Pixar Animation Studios,United States of America,1995,12.451801,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg
1,{},65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,...,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,1995,4.043035,NaN,NaN,NaN,NaN,NaN,NaN
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.712900,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,"Warner Bros., Lancaster Gate",United States of America,1995,0.000000,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg
3,{},16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,Twentieth Century Fox Film Corporation,United States of America,1995,5.090760,NaN,NaN,NaN,NaN,NaN,NaN
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,...,"Sandollar Productions, Touchstone Pictures",United States of America,1995,0.000000,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg

In [4]:
movies_credits.head()

,cast,crew,id,cast_id,character,credit_id,gender,id_cast,name,order,profile_path,credit_id_crew,department,gender_crew,id_crew,job,name_crew,profile_path_crew
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,14.0,Woody (voice),52fe4284c3a36847f8024f95,2.0,31.0,Tom Hanks,0.0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,52fe4284c3a36847f8024f49,Directing,2.0,7879.0,Director,John Lasseter,/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,15.0,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2.0,12898.0,Tim Allen,1.0,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg,52fe4284c3a36847f8024f4f,Writing,2.0,12891.0,Screenplay,Joss Whedon,/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,16.0,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2.0,7167.0,Don Rickles,2.0,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg,52fe4284c3a36847f8024f55,Writing,2.0,7.0,Screenplay,Andrew Stanton,/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,17.0,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2.0,12899.0,Jim Varney,3.0,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg,52fe4284c3a36847f8024f5b,Writing,2.0,12892.0,Screenplay,Joel Cohen,/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,18.0,Rex (voice),52fe4284c3a36847f8024fa5,2.0,12900.0,Wallace Shawn,4.0,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg,52fe4284c3a36847f8024f61,Writing,0.0,12893.0,Screenplay,Alec Sokolow,/v79vlRYi94BZUQnkkyznbGUZLjT.jpg

In [5]:
# FunciÃ³n para cargar JSON y manejar excepciones
def load_json(x):
    if isinstance(x, str):  # Asegurarse de que x sea una cadena
        try:
            return json.loads(x.replace("'", '"'))
        except json.JSONDecodeError:
            return {}
    return {}

In [6]:
movies['belongs_to_collection'] = movies['belongs_to_collection'].apply(load_json) #Aplicamos la funciÃ³n load_json a la columna

In [7]:
def extract_collection_info(x): #FunciÃ³n para desanidar, manejando nulos y tipos
    if isinstance(x, dict) and 'id' in x and 'name' in x:
        return pd.Series({
            'collection_id': x['id'],
            'collection_name': x['name'],
            'collection_poster_path': x.get('poster_path')
        })
    else:
        return pd.Series({
            'collection_id': None,
            'collection_name': None,
            'collection_poster_path': None
        })

In [8]:
collection_info = movies['belongs_to_collection'].apply(extract_collection_info)
movies = pd.concat([movies, collection_info], axis=1) #Aplicamos la funciÃ³n, y unimos al DF original

In [11]:
print(movies['belongs_to_collection'].head(5))

0    {'id': 10194, 'name': 'Toy Story Collection', ...
1                                                   {}
2    {'id': 119050, 'name': 'Grumpy Old Men Collect...
3                                                   {}
4    {'id': 96871, 'name': 'Father of the Bride Col...
Name: belongs_to_collection, dtype: object

In [12]:
movies['genres'] = movies['genres'].apply(load_json)
genres_exploded = movies['genres'].explode()
genres_exploded = genres_exploded.dropna().apply(pd.Series)
genres_exploded = genres_exploded.dropna()
genres_normalized = pd.json_normalize(genres_exploded)

In [13]:
print(movies['genres'].head(5)) #Chequeamos que se hayan desanidado los datos correctamente.

0    {}
1    {}
2    {}
3    {}
4    {}
Name: genres, dtype: object

In [14]:
def load_json_list(x): #FunciÃ³n para ver si los valores son cadenas o ya son diccionarios/listas de diccionarios
    if isinstance(x, str):
        try:
            return json.loads(x.replace("'", "\""))
        except (json.JSONDecodeError, TypeError):
            return []
    elif isinstance(x, (dict, list)):
        return x
    else:
        return []

In [15]:
movies['production_companies'] = movies['production_companies'].apply(load_json_list) #Aplicamos la funciÃ³n load_json_list a la columna a desanidar

In [16]:
def get_company_names(companies): #FunciÃ³n para desanidar y transformar los datos de production_companies
    if isinstance(companies, list):
        return ', '.join([company.get('name', '') for company in companies if isinstance(company, dict)])
    return None

In [17]:
movies['production_companies_names'] = movies['production_companies'].apply(get_company_names) #Aplicamos la funciÃ³n y creamos una nueva columna donde guardar los datos

In [18]:
print(movies['production_companies_names'].head(5)) #Chequeamos que se hayan desanidado los datos correctamente.

0                              Pixar Animation Studios
1    TriStar Pictures, Teitler Film, Interscope Com...
2                         Warner Bros., Lancaster Gate
3               Twentieth Century Fox Film Corporation
4           Sandollar Productions, Touchstone Pictures
Name: production_companies_names, dtype: object

In [19]:
movies['production_countries'] = movies['production_countries'].apply(load_json_list) #Aplicamos la funciÃ³n load_json_list a la siguiente columna a desanidar.

In [20]:
def get_country_names(countries): #FunciÃ³n para desanidar y transformar los datos de production_countries
    if isinstance(countries, list):
        return ', '.join([country.get('name', '') for country in countries if isinstance(country, dict)])
    return None

In [21]:
movies['production_countries_names'] = movies['production_countries'].apply(get_country_names) #Aplicamos la funciÃ³n y creammos la columna nueva

In [22]:
print(movies['production_countries_names'].head(5)) #Chequeamos que se hayan desanidado los datos correctamente.

0    United States of America
1    United States of America
2    United States of America
3    United States of America
4    United States of America
Name: production_countries_names, dtype: object

In [23]:
movies['revenue'] = movies['revenue'].fillna(0) #Rellenamos los valores nulos en 'revenue' y 'budget' con 0
movies['budget'] = movies['budget'].fillna(0)

In [24]:
print(movies['revenue'].head(5))

0    373554033.0
1    262797249.0
2            0.0
3     81452156.0
4     76578911.0
Name: revenue, dtype: float64

In [25]:
print(movies['budget'].head(5))

0    30000000.0
1    65000000.0
2           0.0
3    16000000.0
4           0.0
Name: budget, dtype: float64

In [26]:
movies = movies.dropna(subset=['release_date']) #Eliminamos los valores nulos del campo release_date

In [27]:
movies['release_date'] = pd.to_datetime(movies['release_date'], errors='coerce').dt.strftime('%Y-%m-%d') #Convertimos 'release_date' al formato AAAA-mm-dd si es necesario

In [28]:
movies['release_year'] = pd.to_datetime(movies['release_date'], errors='coerce').dt.year #Creamos la columna 'release_year' extrayendo el aÃ±o de 'release_date'

In [29]:
movies['release_year'] = movies['release_year'].fillna(0).astype(int)

In [30]:
print(movies['release_date'].head(5)) #Chequeamos

0    1995-10-30
1    1995-12-15
2    1995-12-22
3    1995-12-22
4    1995-02-10
Name: release_date, dtype: object

In [31]:
print(movies['release_year'].head(5))

0    1995
1    1995
2    1995
3    1995
4    1995
Name: release_year, dtype: int32

In [32]:
def convert_to_float(value): #FunciÃ³n para convertir las columnas revenue y budget a float para facilitar el cÃ¡lculo
    try:
        return float(value)
    except (ValueError, TypeError):
        return 0.0

In [33]:
movies['revenue'] = movies['revenue'].apply(convert_to_float) #Aplicamos la funciÃ³n
movies['budget'] = movies['budget'].apply(convert_to_float)

In [34]:
movies['return'] = movies.apply(lambda row: row['revenue'] / row['budget'] if row['budget'] != 0 else 0, axis=1) #Calculamos el ROI

In [35]:
print(movies[['revenue', 'budget', 'return']].head(5))

       revenue      budget     return
0  373554033.0  30000000.0  12.451801
1  262797249.0  65000000.0   4.043035
2          0.0         0.0   0.000000
3   81452156.0  16000000.0   5.090760
4   76578911.0         0.0   0.000000

In [ ]:
columnnas_a_eliminar = ['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage'] #Creamos una lista para las columnas a eliminar
movies = movies.drop(columnnas_a_eliminar, axis=1)

In [37]:
movies.head(5) #Chequeamos que se hayan eliminado.

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,return,collection_id.1,collection_name.1,collection_poster_path.1,collection_id.2,collection_name.2,collection_poster_path.2,collection_id,collection_name,collection_poster_path
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,{},862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,...,12.451801,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg
1,{},65000000.0,{},8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,...,4.043035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,{},15602,en,A family wedding reignites the ancient feud be...,11.712900,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,0.000000,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg
3,{},16000000.0,{},31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,5.090760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,{},11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,...,0.000000,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg

In [38]:
movies.to_csv('movies_dataset.csv', index=False)

In [39]:
movies_credits['cast'] = movies_credits['cast'].apply(lambda x: eval(x) if isinstance(x, str) else x)  #Convertimos de cadena a lista si es necesario

In [40]:
movies_credits['cast'] = movies_credits['cast'].apply(lambda x: [item for item in x if isinstance(item, dict) and item])
cast_expanded = movies_credits['cast'].explode() #Filtramos diccionarios vacÃ­os y desanidamos

In [41]:
cast_df = pd.json_normalize(cast_expanded) #Convertimos la lista de diccionarios a un DataFrame

In [42]:
movies_credits = movies_credits.merge(cast_df, left_index=True, right_index=True, suffixes=('', '_cast')) #Unimos el DF desanidado con el DF original

In [43]:
print(movies_credits['cast'].head())

0    [{'cast_id': 14, 'character': 'Woody (voice)',...
1    [{'cast_id': 1, 'character': 'Alan Parrish', '...
2    [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3    [{'cast_id': 1, 'character': 'Savannah 'Vannah...
4    [{'cast_id': 1, 'character': 'George Banks', '...
Name: cast, dtype: object

In [44]:
movies_credits['crew'] = movies_credits['crew'].apply(lambda x: eval(x) if isinstance(x, str) else x) #Repetimos para 'crew'

In [45]:
crew_expanded = movies_credits['crew'].explode()
crew_df = pd.json_normalize(crew_expanded)

In [46]:
movies_credits = movies_credits.merge(crew_df, left_index=True, right_index=True, suffixes=('', '_crew'))

In [47]:
print(movies_credits['crew'].head())

0    [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
1    [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...
2    [{'credit_id': '52fe466a9251416c75077a89', 'de...
3    [{'credit_id': '52fe44779251416c91011acb', 'de...
4    [{'credit_id': '52fe44959251416c75039ed7', 'de...
Name: crew, dtype: object

In [48]:
movies_credits.to_csv('credits.csv', index=False)